﻿@{
    Layout = "~/Pages/Shared/_IzendaLayout.cshtml";

    ViewData["Title"] = "Iframe Viewer";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var overridingFilterQueries = JSON.parse('@Html.Raw(System.Net.WebUtility.HtmlDecode(ViewBag.overridingFilterQueries))');
            izendaInitIframeViewer('@ViewBag.Id', {
              overridingFilterValue: overridingFilterQueries
            });
            document.body.style.setProperty('padding', 0, 'important');
        });
    </script>
}

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>
