﻿@page "/CreateUser"
@using BlazorDM1.Models
@using BlazorDM1.Services
@using BlazorDM1.IzendaBoundary
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;

@inherits OwningComponentBase<ApplicationUserService>
@*TODO: make this authorized view. Can't use Authorize view for EditForm - Blazor bug*@

<h1>Create</h1>

<h4>User</h4>
<hr />

<div class="row">
    <EditForm Model="@userObj" OnValidSubmit="@ValidSubmit">
        <div class="col-md-8">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label>
                    Tenant
                </label>
                <select class="form-control" @onchange="TenantSelectionChanged">
                    <option value="">Select Tenant</option>
                    @foreach (var tenant in tenants)
                    {
                        <option value="@tenant.Name">@tenant.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>
                    Role
                </label>
                <select class="form-control" @onchange="RoleSelectionChanged">
                    @foreach (var role in roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>

            @if (showAdmin)
            {
                <div class="form-group" id="isAdminDiv">
                    <input type="checkbox" @bind="userObj.IsAdmin" />
                    <label>Is Admin</label>
                </div>
            }

            <div class="form-group">
                <label>
                    User Id
                </label>
                <div>
                    <InputText class="form-control" @bind-Value="userObj.UserID" />
                </div>
            </div>

            <div class="form-group">
                <label>
                    First Name
                </label>
                <div>
                    <InputText class="form-control" @bind-Value="userObj.FirstName" />
                </div>
            </div>

            <div class="form-group">
                <label>
                    Last Name
                </label>
                <div>
                    <InputText class="form-control" @bind-Value="userObj.LastName" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
    <div class="col-md-4">
        <section>
            <div>
                <h4>Further Instruction</h4>
                <hr />
                <p>
                    If you want to add "Email", or update "TimeZone", "Timestamp Offset", "Language", and "Date Format" for a newly created user, please go to Settings &#8594 User Setup and update it.
                </p>
                <p>
                    *If you don't select tenant, it will create a user under system level.
                </p>
            </div>
        </section>
    </div>
</div>

@code {
    private NewUserObject userObj = new NewUserObject();
    IEnumerable<Tenant> tenants;
    List<string> roles = new List<string>();
    private bool showAdmin;

    protected override void OnInitialized()
    {
        tenants = Service.GetAllTenants();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await RetrieveSystemRoles();
    }

    async Task RetrieveSystemRoles()
    {
        await JsRuntime.InvokeVoidAsync("blockAPIUI");

        roles = await Service.GetAllRoles();

        showAdmin = true;
        userObj.SelectedRole = roles.FirstOrDefault();
        userObj.SelectedTenant = null;

        await JsRuntime.InvokeVoidAsync("unblockAPIUI");

        StateHasChanged();
    }

    async Task TenantSelectionChanged(ChangeEventArgs e)
    {
        var tenantName = e.Value.ToString();

        try
        {
            await JsRuntime.InvokeVoidAsync("blockAPIUI");

            if (tenantName == "Select Tenant")
            {
                tenantName = null;
                showAdmin = true;
            }
            else
                showAdmin = false;


            roles = await Service.GetAllRoles(tenantName);


            userObj.SelectedTenant = tenantName;

            await JsRuntime.InvokeVoidAsync("unblockAPIUI");
        }
        catch (Exception ex)
        {
            // error while retrieving roles belonging to the selected tenant
            await JsRuntime.InvokeVoidAsync("Swal.fire", "Failed", "Failed to retrieve tenant and role information. Please check your connection", "error");
        }

        StateHasChanged();
    }

    void RoleSelectionChanged(ChangeEventArgs e)
    {
        var roleName = e.Value.ToString();

        userObj.SelectedRole = roleName;
    }

    async Task ValidSubmit()
    {
        var tenantId = Service.GetTenantId(userObj.SelectedTenant);

        if (tenantId == null)
            userObj.IsAdmin = false; // non-system level can't be IsAdmin

        var newUser = new ApplicationUser
        {
            UserName = userObj.UserID,
            Email = userObj.UserID,
            Role = userObj.SelectedRole,
            TenantId = tenantId
        };

        var result = await Service.AddApplicationUser(newUser);

        if (result.Succeeded) // if successful, then start creating a user at Izenda DB
        {
            var assignedRole = !string.IsNullOrEmpty(userObj.SelectedRole) ? userObj.SelectedRole : "Employee"; // set default role if required. As an example, Employee is set by default

            var existingRole = await Service.FindRoleByRoleName(assignedRole);// _roleManager.FindByNameAsync(assignedRole); // check assigned role exist in client DB.

            if (existingRole == null)
            {
                try
                {
                    result = await Service.CreateRole(assignedRole);

                    if (result.Succeeded)
                    {
                        await Service.AddRoleToUser(newUser, assignedRole);
                    }
                }
                catch (Exception e)
                {
                    throw new Exception(e.Message);
                }
            }
            else
            {
                result = await Service.AddRoleToUser(newUser, assignedRole);
            }

            if (result.Succeeded)
            {
                var izendaAdminAuthToken = IzendaTokenAuthorization.GetIzendaAdminToken();

                newUser.Tenant = Service.GetTenantByName(userObj.SelectedTenant);
                var tenantName = newUser.Tenant?.Name ?? null;

                // Create a new user at Izenda DB
                var success = await IzendaUtilities.CreateIzendaUser(
                    tenantName,
                    userObj.UserID,
                    userObj.LastName,
                    userObj.FirstName,
                    userObj.IsAdmin,
                    assignedRole,
                    izendaAdminAuthToken);

                if (success)
                {
                    // Add new user successfully.
                    await JsRuntime.InvokeVoidAsync("Swal.fire", "Success", "A new user has been created successfully!", "success");

                    // TODO re-route to list page
                }
                else
                {
                    // failed to create new user.
                    await JsRuntime.InvokeVoidAsync("Swal.fire", "Failed", "Failed to create a new user because there is the same user in your configuration database.", "error");
                }
            }
            else
            {
                // failed to create new user.
                await JsRuntime.InvokeVoidAsync("Swal.fire", "Failed", "Failed to create a new user. Please check your database.", "error");
            }
        }
        else
        {
            // failed to create a new user in user database
            await JsRuntime.InvokeVoidAsync("Swal.fire", "Failed", "Failed to create a new user because there is the same user in your user database.", "error");
        }

        // clear
        userObj = new NewUserObject();
    }
}
