﻿@page "/CreateTenant"
@using BlazorDM1.Models
@using BlazorDM1.Services
@using BlazorDM1.IzendaBoundary
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;

@inherits OwningComponentBase<TenantService>
@*TODO: make this authorized view. Can't use Authorize view for EditForm - Blazor bug*@

<h1>Create</h1>

<h4>Tenant</h4>
<hr />

<div class="row">
    <EditForm Model="@tenantObj" OnValidSubmit="@ValidSubmit">
        <div class="col-md-8">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label>
                    Tenant Name
                </label>
                <InputText class="form-control" @bind-Value="tenantObj.TenantDetailName" />
            </div>

            <div class="form-group">
                <label>
                    Tenant Id
                </label>
                <div>
                    <InputText class="form-control" @bind-Value="tenantObj.Name" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
    <div class="col-md-4">
        <section>
            <h4>Further Instruction</h4>
            <hr />
            <div>
                <p>
                    If you want to add "Description" or enable a Module(s) to a newly created tenant, please go to Settings &#8594 Tenant Setup and update it.
                </p>
            </div>
        </section>
    </div>
</div>

@code {
    private Tenant tenantObj = new Tenant();

    async Task ValidSubmit()
    {
        // Create tenant

        // Make sure there is no existing tenant associated.
        var existingTenant = Service.GetTenantByName(tenantObj.Name);

        if (existingTenant == null) // ready for creating new tenant
        {
            var izendaAdminToken = IzendaTokenAuthorization.GetIzendaAdminToken();

            // try to create a new tenant at izenda DB
            var success = await IzendaUtilities.CreateTenant(tenantObj.TenantDetailName, tenantObj.Name, izendaAdminToken);

            if (success)
            {
                Service.AddTenant(tenantObj);

                Service.SaveChanges();

                // Add tenant successfully.
                await JsRuntime.InvokeVoidAsync("Swal.fire", "Success", "A new tenant has been created successfully!", "success");

                NavigationManager.NavigateTo("TenantListPage", true);
            }
            else
            {
                // izenda config database already has that tenant.
                await JsRuntime.InvokeVoidAsync("Swal.fire", "Failed", "Failed to create a new tenant because there is the same tenant in your configuration database.", "error");
            }
        }
        else
            await JsRuntime.InvokeVoidAsync("Swal.fire", "Failed", "Failed to create a new tenant because there is the same tenant in your database.", "error");

        // clear
        tenantObj = new Tenant();
    }
}
