﻿@page "/DashboardViewer/{id}"
@inject IJSRuntime jsRuntime

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>

@code {
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await jsRuntime.InvokeVoidAsync("izendaInitDashboardViewer", new[] { Id });
    }
}
