﻿@page "/Intro"
@page "/"

<div class="jumbotron izenda-header">
    <h1>Izenda Blazor DM1 Starterkit</h1>
    <p class="lead">
        This starter kit will help your development team quickly and easily embed Izenda into your application.
    </p>
</div>

<div class="row izenda-base-color">
    @*User Integration*@
    <div class="col-md-4">
        <h2>User Integration</h2>
        <p>Easily integrate your users, roles, and tenants with Izenda. </p>
        <p><a class="btn btn-primary" href="https://www.izenda.com/docs/dev/.embedding_izenda.html#embedding-izenda-into-your-application" role="button">Learn more »</a></p>
    </div>

    @*Hidden Filters*@
    <div class="col-md-4">
        <h2>Hidden Filters</h2>
        <p>Our flexible API allows you to apply row-level security to your data sources. Filter data by user, role, tenant, or your own custom logic. </p>
        <p><a class="btn btn-primary" href="https://www.izenda.com/docs/dev/ref_iadhocextension.html?filter#sethiddenfilters" role="button">Learn more »</a></p>
    </div>

    @*Security*@
    <div class="col-md-4">
        <h2>Security</h2>
        <p>Review best practices to help ensure a safe and secure deployment of Izenda.</p>
        <p><a class="btn btn-primary" href="https://www.izenda.com/docs/ui/doc_security_recommendations.html" role="button">Learn more »</a></p>
    </div>
</div>

<div style="bottom:0;position: fixed; width:100%;">
    <footer>
        <p>&copy; @DateTime.Now.Year - Izenda Integrated BI Platform</p>
    </footer>
</div>
