﻿@page "/ReportViewer/{id}"
@*@page "/izenda/report/view/{id}"*@

@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Html;

@*TODO: Fix me. ReportViewer from Nav-bar menu works fine. However, sub-report can't pass override filter. For now, use conventional MVC5 for sub-report case*@

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>

@code {
    [Parameter]
    public string Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // filter can't be passed to _Host.cshtml currently. Blazor does not support ViewBag or ViewData to be passed into JSRuntime inside _Host.chstml.
        // this is only for reference.
        /*var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        dynamic filters = new System.Dynamic.ExpandoObject();
        foreach (string key in query.Keys)
        {
            ((IDictionary<string, object>)filters).Add(key, query[key]);
        }

        var overridingFilterQueries = Newtonsoft.Json.JsonConvert.SerializeObject(filters);
        var decodedfilters = System.Net.WebUtility.HtmlDecode(overridingFilterQueries);*/

        if (firstRender)
            await jsRuntime.InvokeVoidAsync("izendaInitReportViewer", new[] { Id });
    }
}
