﻿@page "/ReportList"
@inject IJSRuntime jsRuntime

<div class="loader" id="progressLoader"> </div>
<div class="izenda-container" id="izenda-root"></div>

@code {
     protected override async Task OnAfterRenderAsync(bool firstRender)
     {
        if (firstRender)
             await jsRuntime.InvokeVoidAsync("izendaInitReport");
     }
}
