﻿@page "/TenantListPage"
@using BlazorDM1.Models
@using BlazorDM1.Services
@inject NavigationManager NavigationManager

@inherits OwningComponentBase<TenantService>

<AuthorizeView>
    <Authorized>
        @if (tenants == null)
        {
            <h3>No tenant list exists</h3>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div>
                        <h3 class="text-info">Tenant List</h3>
                    </div>
                    <div>
                        <button class="btn btn-info form-control" @onclick="AddNewTenant">
                            Add New Tenant
                        </button>
                    </div>
                </div>

                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Tenant Id
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in tenants)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <h1>You don't have permission!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    IEnumerable<Tenant> tenants;

    protected override void OnInitialized()
    {
        tenants = Service.GetAllTenants();
    }

    void AddNewTenant()
    {
        NavigationManager.NavigateTo("CreateTenant", true);
    }
}
