﻿@page "/UserListPage"
@using BlazorDM1.Models
@using BlazorDM1.Services
@inject NavigationManager NavigationManager

@inherits OwningComponentBase<ApplicationUserService>

<AuthorizeView>
    <Authorized>
        @if (users == null)
        {
            <h3>No user list exists</h3>
        }
        else
        {
            <div class="container">
                <div class="row">
                    <div>
                        <h3 class="text-info">User List</h3>
                    </div>
                    <div>
                        <button class="btn btn-info form-control" @onclick="AddNewUser">
                            Add New User
                        </button>
                    </div>
                </div>

                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    User ID
                                </th>
                                <th>
                                    Tenant
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in users)
                            {
                            <tr>
                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    @item.Tenant?.Name
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <h1>You don't have permission!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    IEnumerable<ApplicationUser> users;

    protected override async Task OnInitializedAsync()
    {
        users = await Service.GetAllUsers();
    }

    void AddNewUser()
    {
        NavigationManager.NavigateTo("CreateUser", true);
    }
}
