﻿@page "/"
@namespace BlazorDM1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_IzendaLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/Izenda" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @*Blazor*@
    <script src="_framework/blazor.server.js"></script>

    @*Izenda Function list - called from razor components*@

    @*Invoke Izenda view*@
    <script type="text/javascript">
        function initializeIzenda() {
            $(document).ready(function () {
                izendaInit();
            });
        }
    </script>

    @*Invoke Settings view*@
    <script type="text/javascript">
        function initailizeSettings() {
            $(document).ready(function () {
                izendaInitSetting();
            });
        }
    </script>

    @*Invoke report designer view*@
    <script type="text/javascript">
        function izendaInitReportDesigner() {
            $(document).ready(function () {
                izendaInitReportDesigner();
            });
        }
    </script>

    @*Invoke report list view*@
    <script type="text/javascript">
        function izendaInitReport() {
            $(document).ready(function () {
                izendaInitReport();
            });
        }
    </script>

    @*Invoke report parts demo view*@
    <script type="text/javascript">
        function izendaInitReportPartDemo() {
            $(document).ready(function () {
                izendaInitReportPartDemo();
            });
        }
    </script>

    @*Invoke dashboard designer view*@
    <script type="text/javascript">
        function izendaInitNewDashboard() {
            $(document).ready(function () {
                izendaInitNewDashboard();
            });
        }
    </script>

    @*Invoke dashboard list view*@
    <script type="text/javascript">
        function izendaInitDashboard() {
            $(document).ready(function () {
                izendaInitDashboard();
            });
        }
    </script>

    <script type="text/javascript">
        function izendaInitDashboardViewer(Id, filters) {
            $(document).ready(function () {
                izendaInitDashboardViewer(Id, filters);
            });
        }
    </script>

    <script type="text/javascript">
        function izendaInitReportViewer(Id, filters) {
            $(document).ready(function () {
                izendaInitReportViewer(Id, filters);
            });
        }
    </script>

    @*Invoke Export Manager view*@
    <script type="text/javascript">
        function izendaInitRenderExportManagerPage() {
            $(document).ready(function () {
                izendaInitRenderExportManagerPage();
            });
        }
    </script>

    <script type="text/javascript">
        function blockAPIUI() {
            $.blockUI({ message: "<h3> Retrieving role and tenant data now...</h3>" });
        }
    </script>

    <script type="text/javascript">
        function unblockAPIUI() {
            $.unblockUI();
        }
    </script>
</body>
</html>
