﻿@using BlazorDM1.Utility

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole(SD.Role_Admin))
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @context.User.Identity.Name!</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown">
                        Create User / Tenant
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/TenantListPage">Create Tenant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/UserListPage">Create User</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <div style="margin: 9px auto !important;">
                        <form method="post" action="Identity/Account/Signout">
                            <button type="submit" class="nav-link btn btn-link">Log out</button>
                        </form>
                    </div>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @context.User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <div style="margin: 9px auto !important;">
                        <form method="post" action="Identity/Account/Signout">
                            <button type="submit" class="nav-link btn btn-link">Log out</button>
                        </form>
                    </div>
                </li>
            </ul>
        }
    </Authorized>
    <NotAuthorized>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-light" href="Identity/Account/Login">Log in</a>
            </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>
