﻿<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="https://www.izenda.com/" target="_blank" rel="noopener noreferrer">
                    <img src="https://3u8npt2xyr3u2fgvai49zopv-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/izenda-logo-white.png"
                         alt="Site Logo" style="height:18px; width: 100px" />
                </a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="Intro" Match="NavLinkMatch.All">Home</a>
                </li>
                <AuthorizeView>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#" @onclick="HandleInzendaClick">Izenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#" @onclick="HandleSettingsClick">Settings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown">
                            Reports
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="ReportDesigner">New Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="ReportList">Report List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#" @onclick="HandleReportViewerClick">Report Viewer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="ReportParts">Report Parts</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            Dashboards
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#" @onclick="HandleDashboardDesignerClick">New Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="Dashboards">Dashboard List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#" @onclick="HandleDashboardViewerClick">Dashboard Viewer</a>
                            </li>
                        </ul>
                    </li>
                </AuthorizeView>
            </ul>
            <LoginDisplay />
        </div>
    </div>
</nav>

@code{
    @inject NavigationManager NavigationManager;

    private void HandleInzendaClick()
    {
        NavigationManager.NavigateTo("Izenda", true);
    }

    private void HandleSettingsClick()
    {
        NavigationManager.NavigateTo("Settings", true);
    }

    private void HandleReportViewerClick()
    {
        //TODO: Replace hardcoded ID
        var target = "ReportViewer/" + "73BF367B-741C-4566-B611-704DFF61C086";
        NavigationManager.NavigateTo(target, true);
    }

    private void HandleDashboardDesignerClick()
    {
        NavigationManager.NavigateTo("DashboardDesigner", true);
    }

    private void HandleDashboardViewerClick()
    {
        //TODO: Replace hardcoded ID
        var target = "DashboardViewer/" + "283A8F9A-7542-4443-9789-47E1DBFCDF50";
        NavigationManager.NavigateTo(target, true);
    }
}
